body { 
    font-family: 'Raleway', sans-serif;
    background-image: url(Images/mainpage.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    text-align: center;
    background-attachment: fixed;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
    font-weight: 700;
    font-size: 30px;
}

nav{
    flex: 1;
    text-align: right;
}
nav ul {
    display: inline-block;
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

a{
    text-decoration: none;
    color: white;
}

p{
    color: green;
}

.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    /* position: absolute; */
    /* top: 200px; */
}

.col-2{
    flex-basis: 50%;
    min-width: 300px;
}

.col-2 img{
    max-width: 100%;
    padding: 50px 0;
}

.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}

.btn{
    display: inline-block;
    background: green;
    color: yellow;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: 0.5s;
}

.btn :hover{
    background: green;
}



.header{
    border-radius: 25px;
}

.header .row{
    margin-top: 70px;
}
h1 {
    font-weight: 700;
    color: white;
    font-style: italic;
}

p {
    color: white;
}

#joinnowbtn {
    /* background-color: white; */
    color: white;
}
/* memberships */
.categories {
 
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 450px;
    width: 100%;
   

}
/* main background pic */
#mainpage {
    width: 100%;
}
.col-3 {
    width: 150px;
}

#dollars, #donations, #life, #brick, #GCKY {
    width: 50%;
    
}
/* Images */
#GCKYdiv, #brick, #donations, #dollars {
    /* background-color: white; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: inherit;
    width: 20%;
    /* top: 20px;
    left: 250px; */
    color: gray;
}

#brick {
    width: 200px;
}

#dollars {
    width: 200px;
}

#donations {
    width: 200px;
}

/* button with images */
.button {
    width: 25%;
    position: relative;
    bottom: 5px;
   
}


/* MAP */

#map {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 1000px;
    left: 50px;
    text-align: center;

}
/* #maptext {
    display: flex;
    align-items: center;
    justify-content: center;
} */

footer {
    position: relative;
    width: 100%;
    background: #67963a;
    height: 20vh;
    padding: 2.5px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer .social_icon,
footer .menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2.5px 0;
}

footer .social_icon li,
footer .menu li {
    list-style: none;
}

footer .social_icon li a {
    font-size: 2em;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}

footer .social_icon li a:hover {
    transform: translateY(-10px);
}

footer .menu li a {
    font-size: 1.2em;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;
}

footer .menu li a:hover {
    opacity: 10;
}

footer p {
    color: #fff;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 0.8em;
}

footer{
    position: fixed;
    bottom: 100%;
}