@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;700;800;900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    background: #fff;
}

/* navbar */
nav {
    position: sticky;
    width: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1vw 8vw;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15)
}

nav img {
    width: 175px;
    cursor: pointer;
}

nav .navigation ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav .navigation ul li {
    list-style: none;
    margin-left: 30px;
}

nav .navigation ul li a {
    text-decoration: none;
    color: #67963a;
    font-size: 20px;
    font-weight: 400;
    transition: 0.3 ease;

}

nav .navigation ul li a:hover {
    color: #e2e776;
}

/* home */
#home {
    background-image: linear-gradient(rgba(9, 5, 54, 0.3), rgba(5, 4, 46, 0.7)), url(./images/mainpage.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 40px;
}

#home h2 {
    color: #fff;
    font-size: 2.3rem;
    letter-spacing: 1px;
}

#home p {
    width: 50%;
    color: #fff;
    font-size: 1.2rem;
    line-height: 25px;
}

#home .btn {
    margin-top: 25px;
}

#home a {
    text-decoration: none;
    font-size: 1rem;
    padding: 15px 40px;
    background-color: #fff;
    font-weight: 600;
    border-radius: 5px;
}

#home a.green {
    color: #fff;
    background-color: #67963a;
    transition: 0.3s ease;

}

#home a.green:hover {
    color: #67963a;
    background-color: #fff;
}


#home a.brown {
    color: #fff;
    background-color: #6a634d;
    transition: 0.3s ease;
}

#home a.brown:hover {
    color: #6a634d;
    background-color: #fff;
}

footer {
    position: relative;
    width: 100%;
    background: #67963a;
    height: 25vh;
    padding: 25px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer .social_icon,
footer .menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

footer .social_icon li,
footer .menu li {
    list-style: none;
}

footer .social_icon li a {
    font-size: 2em;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}

footer .social_icon li a:hover {
    transform: translateY(-10px);
}

footer .menu li a {
    font-size: 1.2em;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;
}

footer .menu li a:hover {
    opacity: 1;
}

footer p {
    color: #fff;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 0.8em;
}