@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;700;800;900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    background: #fff;
}

/* navbar */
nav {
    position: sticky;
    width: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1vw 8vw;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15)
}

nav img {
    width: 175px;
    cursor: pointer;
}

nav .navigation ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav .navigation ul li {
    list-style: none;
    margin-left: 30px;
}

nav .navigation ul li a {
    text-decoration: none;
    color: #67963a;
    font-size: 20px;
    font-weight: 400;
    transition: 0.3 ease;

}

nav .navigation ul li a:hover {
    color: #e2e776;
}

/* home */
#home {
    background-image: linear-gradient(rgba(9, 5, 54, 0.3), rgba(5, 4, 46, 0.7)), url(./images/mainpage.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 40px;
}

#home h2 {
    color: #fff;
    font-size: 2.3rem;
    letter-spacing: 1px;
}

#home p {
    width: 50%;
    color: #fff;
    font-size: 1.2rem;
    line-height: 25px;
}

#home .btn {
    margin-top: 25px;
}

#home a {
    text-decoration: none;
    font-size: 1rem;
    padding: 15px 40px;
    background-color: #fff;
    font-weight: 600;
    border-radius: 5px;
}

#home a.green {
    color: #fff;
    background-color: #67963a;
    transition: 0.3s ease;

}

#home a.green:hover {
    color: #67963a;
    background-color: #fff;
}


#home a.brown {
    color: #fff;
    background-color: #6a634d;
    transition: 0.3s ease;
}

#home a.brown:hover {
    color: #6a634d;
    background-color: #fff;
}

#about_us {
    width: 100%;
    height: 50vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4vw;
    text-align: center;
}

#about_us h1 {
    color: #67963a;
    font-size: 2.3rem;
    letter-spacing: 1px;
}

#about_us p {
    color: #6a634d;
    font-size: .9rem;
    letter-spacing: 1px;
}

#about_us .about-base {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 1rem;
    margin-top: 50px;
}

#about_us .about-box {
    background: #fff;
    text-align: start;
}

#about_us .about-box i {
    font-size: 2.3em;
    color: #6a634d;
}

#about_us .about-box h3 {
    font-size: 1.2rem;
    font-weight: 600;
    color: #67963a;
    padding: 13px 0 7px 0;
}

#about_us .about-box p {
    font-size: 1rem;
    font-weight: 400;
    color: black;
}

footer {
    position: relative;
    width: 100%;
    background: #67963a;
    height: 20vh;
    padding: 2.5px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer .social_icon,
footer .menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2.5px 0;
}

footer .social_icon li,
footer .menu li {
    list-style: none;
}

footer .social_icon li a {
    font-size: 2em;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}

footer .social_icon li a:hover {
    transform: translateY(-10px);
}

footer .menu li a {
    font-size: 1.2em;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;
}

footer .menu li a:hover {
    opacity: 10;
}

footer p {
    color: #fff;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 0.8em;
}

/* news */
#news {
    background-image: linear-gradient(rgba(9, 5, 54, 0.3), rgba(5, 4, 46, 0.7)), url(./images/WaterOnLeafs.jpg);
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 40px;
}


@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&display=swap');

:root {
    --calendar-bg-color: #67963a;
    --calendar-font-color: #FFF;
    --weekdays-border-bottom-color: #fff;
    --calendar-date-hover-color: #6a634d;
    --calendar-current-date-color: #6a634d;
    --calendar-today-color: linear-gradient(to bottom, #03a9f4, #2196f3);
    --calendar-today-innerborder-color: transparent;
    --calendar-nextprev-bg-color: transparent;
    --next-prev-arrow-color : #FFF;
    --calendar-border-radius: 16px;
    --calendar-prevnext-date-color: #484848
}

.calendar {
    font-family: 'IBM Plex Sans', sans-serif;
    position: relative;
    width: 60vw; /*change as per your design need */
    height: 50vh;
    background: var(--calendar-bg-color);
    color: var(--calendar-font-color);
    margin: 20px;
    box-sizing: border-box;
    overflow: hidden;
    font-weight: normal;
    border-radius: var(--calendar-border-radius);
}

.calendar-inner {
    padding: 10px 10px;
}

.calendar .calendar-inner .calendar-body {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
}

.calendar .calendar-inner .calendar-body div {
    padding: 4px;
    min-height: 30px;
    line-height: 30px;
    border: 1px solid transparent;
    margin: 10px 2px 0px;
}

.calendar .calendar-inner .calendar-body div:nth-child(-n+7) {
    border: 1px solid transparent;
    border-bottom: 1px solid var(--weekdays-border-bottom-color);
}

.calendar .calendar-inner .calendar-body div:nth-child(-n+7):hover {
    border: 1px solid transparent;
    border-bottom: 1px solid var(--weekdays-border-bottom-color);
}

.calendar .calendar-inner .calendar-body div>a {
    color: var(--calendar-font-color);
    text-decoration: none;
    display: flex;
    justify-content: center;
}

.calendar .calendar-inner .calendar-body div:hover {
    border: 1px solid var(--calendar-date-hover-color);
    border-radius: 4px;
}

.calendar .calendar-inner .calendar-body div.empty-dates:hover {
    border: 1px solid transparent;
}

.calendar .calendar-inner .calendar-controls {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.calendar .calendar-inner .calendar-today-date {
    display: grid;
    text-align: center;
    cursor: pointer;
    margin: 3px 0px;
    background: var(--calendar-current-date-color);
    padding: 8px 0px;
    border-radius: 10px;
    width: 80%;
    margin: auto;
}

.calendar .calendar-inner .calendar-controls .calendar-year-month {
    display: flex;
    min-width: 100px;
    justify-content: space-evenly;
    align-items: center;
}

.calendar .calendar-inner .calendar-controls .calendar-next {
    text-align: right;
}

.calendar .calendar-inner .calendar-controls .calendar-year-month .calendar-year-label,
.calendar .calendar-inner .calendar-controls .calendar-year-month .calendar-month-label {
    font-weight: 500;
    font-size: 25px;
}

.calendar .calendar-inner .calendar-body .calendar-today {
    background: var(--calendar-today-color);
    border-radius: 4px;
}

.calendar .calendar-inner .calendar-body .calendar-today:hover {
    border: 1px solid transparent;
}

.calendar .calendar-inner .calendar-body .calendar-today a {
    outline: 2px solid var(--calendar-today-innerborder-color);
}

.calendar .calendar-inner .calendar-controls .calendar-next a,
.calendar .calendar-inner .calendar-controls .calendar-prev a {
    color: var(--calendar-font-color);
    font-family: arial, consolas, sans-serif;
    font-size: 30px;
    text-decoration: none;
    padding: 4px 12px;
    display: inline-block;
    background: var(--calendar-nextprev-bg-color);
    margin: 10px 0 10px 0;
}

.calendar .calendar-inner .calendar-controls .calendar-next a svg,
.calendar .calendar-inner .calendar-controls .calendar-prev a svg {
    height: 20px;
    width: 20px;
}

.calendar .calendar-inner .calendar-controls .calendar-next a svg path,
.calendar .calendar-inner .calendar-controls .calendar-prev a svg path{
    fill: var(--next-prev-arrow-color);
}

.calendar .calendar-inner .calendar-body .prev-dates,
.calendar .calendar-inner .calendar-body .next-dates {
    color: var(--calendar-prevnext-date-color);
}

.calendar .calendar-inner .calendar-body .prev-dates:hover,
.calendar .calendar-inner .calendar-body .next-dates:hover {
  border: 1px solid transparent;
  pointer-events: none;
}

iframe{
    font-family: 'IBM Plex Sans', sans-serif;
    position: relative;
    width: 60vw; /*change as per your design need */
    height: 50vh;
    background: var(--calendar-bg-color);
    color: var(--calendar-font-color);
    margin: 20px;
    box-sizing: border-box;
    overflow: hidden;
    font-weight: normal;
    border-radius: var(--calendar-border-radius);
}

#categories{
    display: flex;
    justify-content: space-between;
}

.sec{
    display: flex;
    justify-content: center;
    width: 15vw;

}
/*  members */

.membership{ 
    font-family: 'Raleway', sans-serif;
    background-image: url(Images/mainpage.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    text-align: center;
    background-attachment: fixed;
}

img{
    width: 20%;
}
/* button with images */
.button {
    width: 25%;
    position: relative;
    bottom: 5px;
}

#members {
    background-image: linear-gradient(rgba(9, 5, 54, 0.3), rgba(5, 4, 46, 0.7)), url(./images/mainpage.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    color: white;
}

#top{
    text-align: center;
    padding:5vh 4vw 5vh 4vw;
}

.sec{
    display: flex;
    text-align: center;
    display: grid;
    align-items: center;
    position: inherit;
    width: 40vw;
}


#dollars, #donations, #brick, #gcky {
    width: 20vw;
}

#GCKYdiv,#gcky, #brick, #donations, #dollars {
    /* background-color: white; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: inherit;
    color: gray;
    background-color: #FFF;
    border-radius: 30px;
}

